<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>汇慧学习</title>
<link href="{$Think.const.BOOTSTRAP_URL}css/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
       <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<form class="form-horizontal" role="form" method="post">
		<div class="form-group has-success">
			<label class="col-sm-2  control-label">分类名称</label>
			<div class="col-sm-4">
				<input type="text" name="name" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-success" type="submit">&nbsp;确&nbsp;定&nbsp;</button>
			</div>
		</div>
	</form>
</body>
</html>