<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>汇慧学习</title>
<link href="{$Think.const.BOOTSTRAP_URL}css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
       <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="body">
	   <table class="table table-bordered table-hover">
	       <tr><td>#</td><td>分类#</td><td>课程名称</td><td>课程简介</td><td>讲师姓名</td><td>讲师简介</td><td>是否开放</td><td>更新</td></tr>
	       <volist name="result" id="vo">
	       <tr>
	       <td>{$vo.id}</td>
	       <td>{$vo.category_id }</td>
	       <td>{$vo.course_name }</td>
	       <td>{$vo.course_profile }</td>
	       <td>{$vo.teacher_name }</td>
	       <td>{$vo.teacher_profile }</td>
	       <td>{$vo.is_open }</td>
	       <td><a href="/index.php/Admin/Course/updateCourse/id/{$vo.id}">更新</a></td>
	       </tr>
	       </volist>
        </table>
</div>
</body>
</html>