<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>汇慧学习</title>
<link href="{$Think.const.BOOTSTRAP_URL}css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
       <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="body">
	<div>
	   <table class="table table-bordered table-hover">
	       <tr><td>#</td><td>分类名称</td></tr>
	       <volist name="result" id="vo"><tr><td>{$vo.id}</td><td>{$vo.name}</td><td></tr></volist>
	       <tr><td colspan="2"><a class="btn btn-default" href="/index.php/Admin/Course/addCourseCategory" role="button">新增分类</a></td></tr>
        </table>
	</div>
</div>
</body>
</html>