<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>汇慧学习</title>
<!-- 样式表 -->
<link href="{$Think.const.BOOTSTRAP_URL}css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}admin/course/layout_update_course.css" rel="stylesheet">
	<!--[if lt IE 9]>
       <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- titleBar -->
<div class="title_bar">
</div>
<!-- 功能选择 -->
<div class="function_box">
<a class="btn btn-success" type="button">更新课程信息</a>
<a href="/index.php/Admin/Course/uploadLesson/id/{$course.id}" class="btn btn-success" type="button">继续添加课时</a>
</div>
<hr />
<hr />
<!-- 课程信息 -->
<div class="course_box">
<b>id：</b>{$course.id}<hr />
<b>所属分类id：</b>{$course.category_id}<hr />
<b>课程名称：</b>{$course.course_name}<hr />
<b>讲师姓名：</b>{$course.course_profile}<hr />
<b>课程简介：</b>{$course.teacher_name}<hr />
<b>讲师简介：</b>{$course.teacher_profile}<hr />
<b>是否开放：</b>{$course.is_open}
</div>
<hr />
<hr />
<!-- 课时信息 -->
<div class="lesson_box">
<table class="table table-bordered table-hover">
   <tr><td>#</td><td>课时名称</td><td>课时时长</td><td>课程存储路径</td></tr>
   <volist name="lessonArr" id="vo">
   <tr>
   <td>{$vo.id}</td>
   <td>{$vo.lesson_name }</td>
   <td>{$vo.lesson_duration }</td>
   <td>{$vo.lesson_video_src }</td>
   </tr>
   </volist>
</table>
</div>
</body>
</html>