<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>汇慧学习</title>
<!-- 样式表 -->
<link href="{$Think.const.BOOTSTRAP_URL}css/bootstrap.min.css" rel="stylesheet">
<link href="{$Think.const.CSS_URL}admin/portal/layout_index.css" rel="stylesheet">
	<!--[if lt IE 9]>
       <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- titleBar -->
<div class="title_bar">
</div>
<!-- 选项卡 -->
<div class="tab_left">
<a href="/index.php/Admin/Course/uploadCourse"><img src="{$Think.const.IMG_URL}icons/upload_course_icon.png" width="290px" height="270px" /></a>
</div>
<div class="tab_left">
<a href="/index.php/Admin/Course/courseManage"><img src="{$Think.const.IMG_URL}icons/update_course_icon.png" width="290px" height="270px" /></a>
</div>
<div class="clear_float"></div>

<!-- 选项卡 -->
<div class="tab_left">
<a href="/index.php/Admin/Course/courseCategoryManage"><img src="{$Think.const.IMG_URL}icons/update_course_category_icon.png" width="290px" height="270px" /></a>
</div>
<div class="tab_left">
<a href="/index.php/Admin/Portal/adminLogout"><img src="{$Think.const.IMG_URL}icons/quit_icon.png" width="290px" height="270px" /></a>
</div>
<div class="clear_float"></div>
</body>
</html>